@font-face {
    font-family: Linotte-Bold;
    src: url("../fonts/Linotte-Bold.ttf");
}

@font-face {
    font-family: Linotte-Regular;
    src: url("../fonts/Linotte-Regular.ttf");
}

body {
    background: #81D0E1;
    margin: 0 auto;
}

#main-page {
    background-image: url("../images/bg_objects.png");
}

#main-content {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#title {
    font-family: Linotte-Bold, sans-serif;
    font-size: 83px;
    line-height: 97px;
    text-align: center;
    letter-spacing: 0.975em;
    color: #FFFFFF;
    margin-bottom: 41px;
}

#title span {
    position: relative;
    padding: 2px;
    border-radius: 50%;
}

#title span::before {
    content: "";
    position: absolute;
    left: 0;
    top: 19px;
    border: 8px solid rgba(188, 239, 214, 0.26);
    width: 50px;
    height: 50px;
    z-index: -1;
    animation: pulse 2s infinite;
    border-radius: 50%;
}

#annotation {
    font-family: Linotte-Regular, sans-serif;
    font-size: 50px;
    line-height: 59px;
    text-align: center;
    letter-spacing: 0.2em;
    color: rgba(255, 255, 255, 0.55);
    margin-bottom: 42px;
}

#main-images {
    font-size: 0;
    text-align: center;
}

#img1 {
    display: inline-block;
    margin-right: 10px;
    transition-duration: .5s;
}

#img1:hover {
    transform: scale(1.1);
}

#img2 {
    display: inline-block;
    transition-duration: .5s;
}

#img2:hover {
    transform: scale(1.1);
}

#mail-svg {
    display: inline-block;
    position: fixed;
    top: 20px;
    left: 20px;
    opacity: 0.7;
}
#mail-svg .circle::before{

}

#mail-svg:hover .mail-text{
    transform: translate(0, 0);
    transition: all .4s linear;
    opacity: 1;
}
#mail-svg:hover{
    opacity: 1;
}

.mail-text{
    white-space: nowrap;
    width: 100px;
    font-family: Linotte-Bold, sans-serif;
    color: white;
    left: 75px;
    top: 12px;
    position: absolute;
    transform: translate(0, 100%);
    opacity: 0;
    transition: all .4s linear;
}

.circle {
    height: 46px;
    width: 46px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 17px 0 14px;
    border-radius: 50%;
    border: 3px solid white;
    box-sizing: border-box;
    transition: all .2s linear;
}

.circle:hover{
    animation: pulse-2;
    transition: all .2s linear;
    box-shadow: #81d0e1 0 0 0 2px, rgba(255, 255, 255, .5) 0 0 0 4px, inset #81d0e1 0 0 0 3px, inset rgba(255, 255, 255, .3) 0 0 0 4px;
}

.circle a {
    text-decoration: none;
    text-align: center;
    vertical-align: center;
}

#twitter {
    position: fixed;
    top: 28px;
    right: 179px;
    opacity: 0.7;
}
#twitter:hover{
    opacity: 1;
}

#text{
    transform: translate(0, 100%);
}

#facebook {
    position: fixed;
    top: 28px;
    right: 103px;
    opacity: 0.7;
}

#facebook:hover{
    opacity: 1;
}

#ppp {
    position: fixed;
    top: 28px;
    right: 27px;
    opacity: 0.7;
}

#ppp:hover{
    opacity: 1;
}
#end{
    position: fixed;
    flex-direction: column;
    display: flex;
    bottom: 40px;
    left: calc(50% - 15px);
    justify-content: center;
    align-items: center;
}

#end #mouse{
    margin-bottom: 15px;
    animation: slide 2s infinite;
    animation-timing-function: ease;
    animation-direction: normal;
}
#end .vector{
    font-size: 0;
    animation: slide1 2s infinite;
    animation-timing-function: ease;
    animation-direction: normal;
}
@keyframes pulse {
    0% {
        transform: scale(0.5);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        transform: scale(1.4);
        opacity: 0.1;
    }

}
@keyframes pulse-2 {
    0%{
        transform: scale(0.5);
    }
    50%{
        transform: scale(1);
    }
    100%{
        transform: scale(1.5);
    }
}
@keyframes up {
    0%{
        opacity: 0;
    }
    50%{
        opacity: 0.5;
    }
    100%{
        opacity: 1;
    }
}
@keyframes slide {
    0%{
        transform: translate(0, 0);
        opacity: 1;
    }
    50%{
        transform: translate(0, 20px);
        opacity: 1;
    }
    100%{
        transform: translate(0, 0);
        opacity: 1;
    }

}
@keyframes slide1 {
    0%{
        transform: translate(0, 0);
        opacity: 1;
    }
    100%{
        transform: translate(0, 20px);
        opacity: 0;
    }

}

